---
import "@/styles/global.css";

import Seo from "@/components/seo/Seo.astro";

type Props = SeoPage;
---

<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<slot name="head" />
		<Seo {...Astro.props} />
	</head>
	<body>
		<slot name="body-start" />
		<main id="main" role="main" tabindex="-1">
			<slot />
		</main>
		<slot name="body-end" />
	</body>
</html>
